<!DOCTYPE html>
<html>
    <head>
        <title>Buster's Best Bowling Alley</title>
    </head>
    <body>
        <h1>Buster's Best Bowling Alley</h1>

        <h2>Bet You Can't Bowl A Strike Every Time</h2>

        <h3>Address</h3>
        <p>97 Bowling Alley Lane, Boulder CO </p>
        
        <h3>Hours</h3>
        <p>Monday:noon-10pm</p>
        <p>Tuesday:noon-10pm</p>
        <p>Wednesday:noon-10pm</p>
        <p>Thursday:noon-10pm</p>
        <p>Friday:noon-10pm</p>
        <p>Saturday:10am-10pm</p>
        <p>Sunday:10am-10pm</p>

        <h3>Upcoming Tournaments</h3>
        <p>No upcoming tournaments</p>

        <h3>Bar Menu</h3>
        <p>Check Back Later</p>
    </body>
</html>