<!DOCTYPE html>
<html>
<head>  <title>The Bowling Alley</title>
  
</head>  

<body>
  <h1>Buster's Best Bowling Alley</h1>
  <h2>Bet You Can't Bowl A Strike Every Time</h2>
  <p>97 Bowling Alley Lane, Boulder CO </p>
  <div>
    <h2>Hours</h2>
    <p>Every Day 10 AM to 3 AM</p>
  </div>
  
  <div>
    <h2>Upcoming Tournaments</h2>
    <p>Friday May 23rd: The Big Tournament</p>
  </div>
  
  <div>
    <h2>Bar Menu</h2>
    <p>Yuca Fries with cilantro sauce</p>
    <p>Cuban Sandwhich</p>
    <p>Ceviche</p>
    <p>Beer</p>
  </div>
  
  
  
  
  
  
</body>
  
</html>