<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Buster's Best Bowling Alley</h1>
        <h2>Bet You Can't Bowl A Strike Every Time</h2>
        <p>97 Bowling Alley Lane, Boulder CO </p>
        <br>
        <p>HOURS OF OPERATION</p>
        <ul>
        <li>Monday: 5:00 PM - 10 PM</li>
        <li>Tuesday: 5:00 PM - 10 PM</li>
        <li>Wednesday: 5:00 PM - 10 PM</li>
        <li>Thursday: 5:00 PM - 10 PM</li>
        <li>Friday: 5:00 PM - 10:45 PM</li>
        <li>Saturday: 2:00 PM - 10:45 PM</li>
        <li>Sunday: 2:00 PM - 10 PM</li>
        </ul>
    </body>
</html>